body {
    font-family: "Carme", sans-serif;
    background: url(../../images/bg_new.gif) no-repeat center center #000;
    background-size: cover;
    min-height: 100vh;
}
a:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.basker_text {
    font-family: "Baskervville", serif;
    font-style: italic;
}

section {
    clear: both;
    z-index: 1;
    position: relative;
}

.contact_point {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0 auto 20px;
    max-width: 600px;
}
.contact_point li {
    display: table;
    width: 20%;
    float: left;
    text-align: center;
}
.contact_point li a {
    display: table;
    width: 100%;
    text-align: center;
    transition: ease all 0.3s;
    transform: scale(1);
}
.contact_point li a img {
    display: table;
    width: 50px;
    text-align: center;
    margin: 0 auto;
}
.contact_point li a:hover {
    transform: scale(1.2);
}

.active_ico .svg_ico svg {
    fill: red !important;
}
.active_ico span {
    color: red !important;
}

header {
    position: relative;
    display: table;
}
header img {
    position: absolute;
    top: 0;
    left: 0;
}

.logo_glow {
    -webkit-animation: logo_glow 3s infinite; /* Safari 4+ */
    -moz-animation: logo_glow 3s infinite; /* Fx 5+ */
    -o-animation: logo_glow 3s infinite; /* Opera 12+ */
    animation: logo_glow 3s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes logo_glow {
    0% {
        clip: rect(0px, 0px, 105px, 0px);
        opacity: 0;
    }
    25% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 1;
    }
    75% {
        clip: rect(0px, 360px, 105px, 360px);
        opacity: 0;
    }
    100% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 0;
    }
}
@-moz-keyframes logo_glow {
    0% {
        clip: rect(0px, 0px, 105px, 0px);
        opacity: 0;
    }
    25% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 1;
    }
    75% {
        clip: rect(0px, 360px, 105px, 360px);
        opacity: 0;
    }
    100% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 0;
    }
}
@-o-keyframes logo_glow {
    0% {
        clip: rect(0px, 0px, 105px, 0px);
        opacity: 0;
    }
    25% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 1;
    }
    75% {
        clip: rect(0px, 360px, 105px, 360px);
        opacity: 0;
    }
    100% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 0;
    }
}
@keyframes logo_glow {
    0% {
        clip: rect(0px, 0px, 105px, 0px);
        opacity: 0;
    }
    25% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 1;
    }
    75% {
        clip: rect(0px, 360px, 105px, 360px);
        opacity: 0;
    }
    100% {
        clip: rect(0px, 360px, 105px, 0px);
        opacity: 0;
    }
}

.banker918_slider .slick-slide {
    text-align: center;
}
.banker918_slider .slick-slide a {
    color: #fff;
}
.modal-dialog img {
    width: 100%;
    display: table;
}
.modal-content {
    background: #111;
}
.modal-header {
    background: #aa8956;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ffc76e;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}
.close {
    color: #fff;
    text-shadow: 0 0px 0 #fff;
    opacity: 1;
}

.contact_group {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2em 0;
}
.contact_whatsapp {
    background: #e20000;
    color: #fff;
    padding: 10px 20px;
    display: inline-table;
    float: none;
    border-radius: 5px;
}
.contact_whatsapp span {
    font-size: 0.8em;
    text-align: left;
    float: left;
}
.contact_whatsapp img {
    float: right;
    width: 10px;
    transform: rotate(-90deg) translate(-4px, 7px);
}

.product_available {
    border: 1px solid #e20000;
    border-radius: 4px;
    padding: 20px;
    color: #fff;
    width: 100%;
    display: table;
}
.product_row {
    width: 100%;
    clear: both;
}
.product_row_head {
    margin-bottom: 2.5em;
}
.product_row h3 {
    float: left;
    font-size: 1.2em;
}
.product_row div {
    float: right;
    font-size: 0.8em;
}
.product_row span:first-child {
    width: 100px;
    float: left;
    font-size: 0.8em;
}
.product_row span:last-child {
    width: calc(100% - 100px);
    float: left;
    font-size: 0.8em;
}

.profile-page .black_left_box {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #3c3c3c;
    padding: 2em;
    color: #fff;
    display: inline-block;
    width: 90%;
    max-width: 400px;
}
.profile-page .black_right_box {
    color: #fff;
    display: inline-block;
    float: right;
    padding: 2em 0;
    width: 90%;
    max-width: 400px;
}
.profile-page .black_left_box ul {
    margin: 0;
    padding: 0;
}
.profile-page .black_left_box ul li {
    font-size: 1em;
    list-style: none;
}
.profile-page .black_left_box ul li:first-child {
    font-size: 1.5em;
}
.profile-page .black_right_box .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #0000009e;
    background-clip: padding-box;
    border: 1px solid #e30100;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.history_table {
    background: #1f1f1f;
    width: 100%;
    border: 1px solid #3c3c3c;
    padding: 0 2em;
}
.history_table table {
    margin-bottom: 0 !important;
    position: relative;
}
.history_table th {
    border: none;
}
.history_table td,
.history_table th {
    color: #fff;
    border-top: none !important;
    border-bottom: none !important;
    font-size: 0.8em !important;
}
.history_table tbody td,
.history_table tbody th {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}
.history_table thead th {
    border-bottom: 1px solid #3c3c3c !important;
    padding: 1em 0.75em !important;
}

@media (min-width: 320px) {
    .svg_ico svg {
        height: 24px;
        fill: white !important;
    }

    h1 {
        color: #fff;
        clear: both;
        font-size: 1.2em;
        margin-bottom: 1em;
    }
    h2 {
        color: #fff;
        clear: both;
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    .section_last {
        margin-bottom: 130px;
    }

    .black_bg_trans {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        opacity: 0.8;
        background: #000;
        top: 0;
        left: 0;
    }

    .black_header {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100;Neutral+Density */
        background: -moz-linear-gradient(
            top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        width: 100%;
        display: block;
        position: absolute;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .menu_and_header {
        z-index: 100;
    }
    header {
        position: relative;
        z-index: 0;
        width: 280px;
        height: 77px;
        margin: 20px auto 20px;
        padding-top: 10px;
    }
    .homepage h1 {
        margin-left: 30px;
    }
    header img {
        display: table;
        width: 100%;
    }
    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        background: none;
        width: 100%;
    }
    nav ul {
        display: table;
        width: 100%;
        float: left;
        padding: 0;
        margin: 10px 0;
    }
    nav ul li {
        display: table;
        float: left;
        list-style: none;
        width: 20%;
    }
    nav ul li a {
        display: table;
        text-align: center;
        margin: 0 auto;
    }
    nav ul li a div {
        display: table;
        margin: 0 auto;
    }
    nav ul li a span {
        display: table;
        margin: 3px auto 0;
        font-size: 0.7em;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
    }

    .black_header {
        position: fixed;
        bottom: 0;
        top: auto;
        transform: rotate(180deg);
        height: 135px;
    }

    .banker918_slider {
        max-width: 100%;
        margin: 0;
        padding: 0 0 3em;
    }
    .insidepage_top {
        margin: 0 auto;
        padding: 3em 0;
    }
    .b918_slide_wrap {
        overflow: hidden;
        display: block;
        height: auto;
        background: #000;
        margin: 10px;
        border-radius: 5px;
        border: 1px solid #aa8956;
    }
    .banker918_slider .slick-slide {
        color: #fff;
        font-size: 0.8em;
    }
    .contact_whatsapp {
        width: 300px;
    }
    .product_available {
        margin-bottom: 15px;
    }
    .modal-dialog {
        max-width: 800px;
    }
    .black_box_full {
        background: none;
        width: 300px;
        margin: 0 auto;
    }

    .slick-prev {
        left: -8px !important;
        z-index: 11;
    }
    .slick-next {
        right: -8px !important;
        z-index: 11;
    }
    .slick-prev,
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        display: block;
        width: 30px;
        height: 30px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }
    .slick-prev:before,
    .slick-next:before {
        font-family: "slick";
        font-size: 30px;
        line-height: 1;
        opacity: 0.75;
        color: #fecc29;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-shadow: 1px 3px 6px #000000bd;
    }
}

@media (min-width: 767px) {
    .black_bg_trans {
        display: block;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        opacity: 0.8;
        background: #000;
    }
    .black_box_full {
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        border: 1px solid #3c3c3c;
        padding: 2em;
    }
    .b918_slide_wrap {
        overflow: hidden;
        display: block;
        height: auto;
        background: #000;
        margin: 10px;
        border-radius: 5px;
    }

    .slick-prev {
        left: 20px !important;
        z-index: 11;
    }
    .slick-next {
        right: 20px !important;
        z-index: 11;
    }
}

@media (min-width: 1024px) {
    .svg_ico svg {
        height: 18px;
        fill: white !important;
    }

    h1 {
        color: #fff;
        clear: both;
        font-size: 1.4em;
        margin-bottom: 1em;
    }
    h2 {
        color: #fff;
        clear: both;
        font-size: 1.4em;
        margin-bottom: 1em;
    }

    .section_last {
        margin-bottom: 0px;
    }

    .black_header {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100;Neutral+Density */
        background: -moz-linear-gradient(
            top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
            top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0) 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        width: 100%;
        display: block;
        position: absolute;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 0;
        bottom: auto;
        transform: rotate(0deg);
    }

    header {
        position: relative;
        z-index: 0;
        width: 360px;
        height: 105px;
        margin: 20px auto 0;
    }
    header img {
        display: table;
        width: 100%;
    }
    nav {
        float: right;
        position: relative;
        z-index: 0;
        margin: 30px 0 20px;
        width: auto;
        bottom: auto;
        left: auto;
    }
    nav ul {
        display: table;
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
    }
    nav ul li {
        display: table;
        float: left;
        list-style: none;
        width: auto;
    }
    nav ul li a {
        display: table;
        float: left;
        text-align: center;
        margin: 0 15px;
    }
    nav ul li a span {
        font-size: 0.8em;
        color: #fff;
        text-align: center;
        margin: 4px auto;
    }
    nav ul li:last-child a {
        margin: 0 0 0 15px;
    }

    .contact_whatsapp {
        width: 280px;
    }
    .homepage h1 {
        margin-left: 10px;
    }
    .banker918_slider {
        max-width: 1130px;
        margin: 0 auto;
    }
    .insidepage_top {
        margin: 0 auto;
        padding: 3em 0;
    }
    .b918_slide_wrap {
        overflow: hidden;
        display: block;
        height: auto;
        background: #000;
        margin: 10px;
        border-radius: 5px;
    }
    .banker918_slider .slick-slide {
        color: #fff;
        font-size: 1em;
        transition: ease all 0.5s;
        transform: scale(1) translateY(0px);
    }

    .modal-dialog {
        max-width: 800px;
    }
}

.joinus_section {
    margin-bottom: 50px;
    margin-top: 40px;
}
.joinus_section .container {
    background: rgba(0, 0, 0, 0.7);
    max-width: 1110px;
    border: 1px solid #aa8956;
    border-radius: 5px;
    text-align: center;
}
.joinus_section .row {
    text-align: center;
    padding: 20px;
    color: #fff;
}
.joinus_section h3 {
    width: 100%;
    text-align: center;
}
.joinus_section p {
    width: 90%;
    margin: 0 auto 30px;
    text-align: center;
}
.joinus_section a {
    color: #fff;
}
.joinus_section a span {
    padding-right: 10px;
    font-size: 1.2em;
}

.popup_center_button {
    margin: 0 auto;
    text-align: center;
    background: #e20000;
    color: #fff;
    padding: 5px 20px;
}
.modal-footer {
    border-top: 0;
}

.product_desc {
    text-align: center;
}
.product_desc h2 {
    text-align: center;
    width: 100%;
    font-size: 2em;
    margin-bottom: 10px;
}
.product_desc p {
    text-align: center;
    color: #fff;
    width: 100%;
}

.product_section {
    margin-bottom: 100px;
}
.product_holder {
    position: relative;
    margin: 0 auto 20px;
    width: 100%;
    display: table;
    border: 1px solid #aa8956;
    border-radius: 5px;
    overflow: hidden;
}
.product_img {
    display: table;
    width: 100%;
}
.product_name {
    position: absolute;
    display: block;
    top: 70px;
    width: 100%;
    transition: ease all 0.5s;
    transform: scale(1);
}
.product_name img {
    display: table;
    height: 90px;
    width: auto;
    margin: 0 auto;
}
.product_holder:hover .product_name {
    top: 40px;
    transform: scale(0.8);
}
.product_device {
    position: absolute;
    opacity: 0;
    text-align: center;
    display: block;
    top: 180px;
    width: 100%;
    left: 0;
    transition: ease all 0.5s;
}
.product_holder:hover .product_device {
    opacity: 1;
    top: 140px;
}
.product_device a {
    padding: 5px;
    opacity: 1;
    transform: scale(1);
    transition: ease all 0.5s;
}
.product_device a:hover img {
    transform: scale(1.2);
}
.product_device a img {
    transform: scale(1);
    transition: ease all 0.5s;
    width: 49px;
}

.product_holder:hover .product_img {
    opacity: 0.3;
}

.product_device a:hover {
    opacity: 1;
}

@media (max-width: 1024px) {
    .product_name {
        position: absolute;
        display: block;
        top: 10px;
        width: 100%;
        transition: ease all 0.5s;
        transform: scale(1);
    }
    .product_device {
        position: absolute;
        opacity: 1;
        text-align: center;
        display: block;
        top: 110px;
        width: 100%;
        left: 0;
        transition: ease all 0.5s;
    }
    .product_device a {
        padding: 5px;
        opacity: 1;
        transform: scale(1);
        transition: ease all 0.5s;
    }
    .product_holder:hover .product_name {
        top: 10px;
        transform: scale(1);
    }
    .product_holder:hover .product_device {
        opacity: 1;
        top: 110px;
    }
    .computer {
        display: none;
    }
}

@media (max-width: 768px) {
    .product_name img {
        display: table;
        height: 50px;
        width: auto;
        margin: 0 auto;
    }
    .product_device {
        position: absolute;
        opacity: 1;
        text-align: center;
        display: block;
        top: 68px;
        width: 100%;
        left: 0;
        transition: ease all 0.5s;
    }
    .product_holder:hover .product_name {
        top: 10px;
        transform: scale(1);
    }
    .product_holder:hover .product_device {
        opacity: 1;
        top: 68px;
    }
}

@media (max-width: 480px) {
    .product_desc p {
        margin: 0 auto 20px;
        width: 90%;
        max-width: 280px;
    }
    .banker918_slider {
        padding: 0em 0 2em;
        width: 95%;
        margin: 0 auto;
    }
    .joinus_section {
        width: 90%;
        margin: 0 auto 30px;
    }
    .joinus_section .col-md-4 span {
        font-size: 1em;
    }
    .joinus_section .col-md-4 img {
        height: 30px;
    }
    .joinus_section a {
        color: #fff;
        display: table;
        width: 100%;
        text-align: center;
        border-radius: 40px;
        text-align: center;
        padding: 5px 0px;
        margin: 0 auto 21px;
    }

    .contact_point li a img {
        width: 40px;
    }

    .product_holder {
        position: relative;
        margin: 0 auto 20px;
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        height: 80px;
        display: block;
        border: 1px solid #aa8956;
        border-radius: 6px;
        background-color: #000000;
    }
    .product_name img {
        display: table;
        height: 55px;
        width: auto;
        margin: 0 0 0 15px;
    }

    .product_holder:hover .product_name {
        top: 12px;
        transform: scale(1);
    }
    .product_holder .product_name {
        top: 12px;
        transform: scale(1);
    }
    .product_holder:hover .product_device {
        opacity: 1;
        top: 14px;
    }
    .product_device {
        top: 14px;
        text-align: right;
        left: -10px;
    }

    .product_device a:hover img {
        transform: scale(1);
    }
    .product_img {
        opacity: 0.3;
    }
}

/*

.product_holder {
    position: relative;
    margin: 0 auto 20px;
    width: 100%;
    display: table;
    max-width: 280px;
}
.product_name img {
    display: table;
    height: 90px;
    width: auto;
    margin: 0 auto;
}

.product_holder:hover .product_name {
    top: 50px;
    transform: scale(1);
}
.product_holder .product_name {
    top: 50px;
    transform: scale(1);
}
.product_holder:hover .product_device {
    opacity: 1;
    top: 150px;
}
.product_device {
    top: 150px;

}
*/

.banker_homepage_popup p {
    color: #fff;
    text-align: center;
    margin: 10px auto;
}
.banker_homepage_popup button {
    margin-bottom: 20px;
}
.banker_homepage_popup a {
    color: #fff;
}

.slick-slide img {
    width: 100%;
}

.popup_contact_point h3 {
    color: #fff;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}

.modal-backdrop.show {
    opacity: 0.8;
}
