.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #021533;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #02193f transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
  }
  .spinner-position {
    position: absolute;
    width:80px; /*image width */
    height:80px; /*image height */
    left:50%; 
    top:50%;
    margin-left:-40px; /*image width/2 */
    margin-top:-40px; /*image height/2 */
  }
  .spinner {
    z-index: 1052;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }