<template>
<div>
<div class="black_bg_trans"></div>
<section class="menu_and_header">
  <div class="black_header"></div>
  <div class="container">
  <header><img src="images/logo.png"> <img src="images/logo_glow.png" class="logo_glow"> </header>
  </div>
</section>

<section class="joinus_section animated fadeInUp forwards fast">
 <div class="container">
   <div class="row">
      <h3>Best Trusted Agency</h3>
  <p>We have variety of game product, among the popular brand : 918Kiss and Mega888, do look out for our agent for any top up enquiry and exclusive top up bonus.</p>
  <div class="col-xl-12">
    <h3>Contact Us At:</h3><p></p>
    <ul class="contact_point">
      <li><a href="http://rebrand.ly/rwin33_livechat" target="_blank"><img src="images/svg/001-live.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_official" target="_blank"><img src="images/svg/002-whatsapp.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33telegram" target="_blank"><img src="images/svg/003-telegram.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_facebook" target="_blank"><img src="images/svg/004-facebook.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_instagram" target="_blank"><img src="images/svg/005-instagram.svg"></a></li>
    </ul>
  </div>

   </div>
 </div>
</section>

<section class="banker918_slider animated fadeInUp forwards fast delay-1s">
    <div class="slider responsive"> 
    <div data-toggle="modal" data-target="#banner_1">
      <div class="b918_slide_wrap"><img src="images/banner/PIC_1.jpg"></div><span>50% Welcome Bonus</span>
    </div>
    <div data-toggle="modal" data-target="#banner_2">
      <div class="b918_slide_wrap"><img src="images/banner/PIC_2.jpg"></div><span>Unlimited Daily Bonus</span>
    </div>
    <div data-toggle="modal" data-target="#banner_3">
      <div class="b918_slide_wrap"><img src="images/banner/PIC_3.jpg"></div><span>Weekly Rebate</span>
    </div>
    <div data-toggle="modal" data-target="#banner_4">
      <div class="b918_slide_wrap"><img src="images/banner/PIC_4.jpg"></div><span>Monthly Special Bonus</span>
    </div>
  </div>
</section>

<section class="product_section animated fadeInUp forwards fast delay-2s">
  <div class="container">
    <div class="row product_desc">
      <h2>Our Product Range</h2>
      <p>You can find our product download details on each brand.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="product_holder">
            <img src="images/landingpage/bg_kiss.png" class="product_img">
            <div class="product_name"><img src="images/landingpage/918_kiss.png"></div>
            <div class="product_device">
                <a href="http://rebrand.ly/rwin33my" target="_blank" class="computer"><img src="images/landingpage/003-computer.svg"></a>
                <a href="http://c1.d.918kiss.com" target="_blank"><img src="images/landingpage/002-apple.svg"></a>
                <a href="http://c1.d.918kiss.com" target="_blank"><img src="images/landingpage/001-android.svg"></a>
            </div>
            </div>
        </div>
    </div>
  </div>
</section>


<!-- Modal -->
<div class="modal fade banker_homepage_popup" id="banner_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="color: #fff">50% Welcome Bonus</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="images/banner/PIC_1.jpg">
        
      </div>
      <div class="modal-footer">

  <div class="col-xl-12 popup_contact_point">
    <h3>Contact Us At:</h3><p></p>
    <ul class="contact_point">
      <li><a href="http://rebrand.ly/rwin33_livechat" target="_blank"><img src="images/svg/001-live.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_official" target="_blank"><img src="images/svg/002-whatsapp.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33telegram" target="_blank"><img src="images/svg/003-telegram.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_facebook" target="_blank"><img src="images/svg/004-facebook.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_instagram" target="_blank"><img src="images/svg/005-instagram.svg"></a></li>
    </ul>
  </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade banker_homepage_popup" id="banner_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="color: #fff;">Unlimited Daily Bonus</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="images/banner/PIC_2.jpg">
      
      </div>
      <div class="modal-footer">
  
<div class="col-xl-12 popup_contact_point">
    <h3>Contact Us At:</h3><p></p>
    <ul class="contact_point">
      <li><a href="http://rebrand.ly/rwin33_livechat" target="_blank"><img src="images/svg/001-live.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_official" target="_blank"><img src="images/svg/002-whatsapp.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33telegram" target="_blank"><img src="images/svg/003-telegram.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_facebook" target="_blank"><img src="images/svg/004-facebook.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_instagram" target="_blank"><img src="images/svg/005-instagram.svg"></a></li>
    </ul>
  </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade banker_homepage_popup" id="banner_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="color: #fff;">Weekly Rebate</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="images/banner/PIC_3.jpg">
      
      </div>
      <div class="modal-footer">

<div class="col-xl-12 popup_contact_point">
    <h3>Contact Us At:</h3><p></p>
    <ul class="contact_point">
      <li><a href="http://rebrand.ly/rwin33_livechat" target="_blank"><img src="images/svg/001-live.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_official" target="_blank"><img src="images/svg/002-whatsapp.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33telegram" target="_blank"><img src="images/svg/003-telegram.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_facebook" target="_blank"><img src="images/svg/004-facebook.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_instagram" target="_blank"><img src="images/svg/005-instagram.svg"></a></li>
    </ul>
  </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade banker_homepage_popup" id="banner_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="color: #fff;">Monthly Special Bonus</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="images/banner/PIC_4.jpg">
     
      </div>
      <div class="modal-footer">

<div class="col-xl-12 popup_contact_point">
    <h3>Contact Us At:</h3><p></p>
    <ul class="contact_point">
      <li><a href="http://rebrand.ly/rwin33_livechat" target="_blank"><img src="images/svg/001-live.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_official" target="_blank"><img src="images/svg/002-whatsapp.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33telegram" target="_blank"><img src="images/svg/003-telegram.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_facebook" target="_blank"><img src="images/svg/004-facebook.svg"></a></li>
      <li><a href="http://rebrand.ly/rwin33_instagram" target="_blank"><img src="images/svg/005-instagram.svg"></a></li>
    </ul>
  </div>

      </div>
    </div>
  </div>
</div>
</div>
</template>

<script>
    export default {
         created() {
            var scripts = [
            "js/myscript.js"
            ];
            scripts.forEach(script => {
                let tag = document.createElement("script");
                tag.setAttribute("src", script);
                document.head.appendChild(tag);
            });
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>